@import '../styles/variables';

.card {
  width: 200px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  font-family: Roboto, sans-serif;
  box-sizing: border-box;

  &__image {
    width: 160px;
    height: 134px;
    margin: 32px auto 0;
  }

  &__photo {
    width: 160px;
    display: block;
    height: 134px;
  }

  &__content {
    width: 166px;
    margin: 0 16px 16px;
  }

  &__title {
    color: $product-text;
    font-size: 12px;
    font-weight: 500;
    margin-top: 40px;
    line-height: 18px;
  }

  &__code {
    color: $product-code-and-price;
    line-height: 14px;
    font-size: 10px;
    font-weight: 400;
    margin-top: 4px;
  }

  &__rating {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 16px;
  }

  &__reviews {
    line-height: 14px;
    font-size: 10px;
    font-weight: 400;
    color: $product-text;
  }

  &__price {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__price-label {
    color: $product-code-and-price;
    font-size: 12px;
  }

  &__price-value {
    color: $product-text;
    line-height: 18px;
    font-size: 16px;
    font-weight: 700;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 166px;
    height: 40px;

    border: 1px solid $product-button;
    border-radius: 5px;

    background-color: $product-button;
    color: #fff;

    font-size: 14px;
    font-weight: 700;
    text-decoration: none;

    box-sizing: border-box;
    margin-top: 16px;

    &:hover {
      background-color: #fff;
      color: $product-button;
      border-color: $product-button;
    }
  }
}
